body {
  font-family: 'Gloria Hallelujah', cursive;
  /* font-family: 'Rampart One', cursive;
 */
}



.wrapper {
  max-width: 90vw;
  width: 100%;
  background-color: aqua;
  margin: 0 auto;
}

.header__title {
  font-family: 'Rampart One', cursive;
}

/* .meme__image img {
  max-width: 80%;
  width: 100%;
} */

.meme__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme__name {
  font-family: 'Shantell Sans', cursive;
  font-size: 40px;
}

.meme__icon {
  width: 2rem;
  height: 2rem;
  background-image: url('./assets/icons/add.png');
  background-repeat: no-repeat;
  background-size: contain;

}



.memes__input {
  display: none;
}

input:checked+label {
  display: block;
  background-color: bisque;
}

.memes__form,
.memes__input,
.meme__label {
  display: block;
  /*   cursor: pointer; */
  cursor: url(assets/icons/m-pepecur2.cur), pointer;
}

.meme__label {
  display: block;
  width: 100%;
}